body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

p {
    margin: 0;
}

button {
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    margin: 10px auto;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 1px 1px lightgray;
    transition: .2s;
}

button:hover {
    transform: translateY(-3px);
}

.response-data {
    color: #005a8b;
}

.field-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
}


.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}